[
    {erlang_node_discovery, [
        {register_callback, {epmdless_dist, add_node}},
        {hosts, [wk001, wk002, wk003]},
        {nodes, [
            {'cm-9', 17012},
            {'cm-20', 17013},
            {'provisioner', 17113}
        ]}
    ]},
    {egraylog, [
        {install_handler, false},
        {transport, tcp},
        {port, 12201},
        {host, "localhost"}
    ]}
].
